* {
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
}

:root {
    --dark: #0f0f0f;
    --title: #E8E4DD;
    --icones: #343A40;
    --menuLateral: #F1F0F0;
    --fundoMain: #FAF8F8;
    --corBotao: #FFFFFF;
    --corFundoBotao: #037EF8;
}


/* CSS do cabeçalho */

header {
    background-color: var(--dark);
    max-height: 4rem;
    min-height: 4rem;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
}

.nav {
    height: 4rem;
    align-items: center;
    color: var(--title);
    display: flex;
    justify-content: space-between;
    margin: 0rem 1rem;
}

.icones {
    display: inline;
    list-style: none;
    padding: 1rem;
}

.icones i {
    color: var(--title);
}


/* CSS do menu lateral */

.menu-lateral {
    position: fixed;
    background-color: var(--menuLateral);
    min-height: 100vh;
    width: 15vw;
    top: 4rem;
}

.lista {
    gap: 1rem;
    align-items: flex-start;
    justify-content: center;
    display: flex;
    flex-direction: column;
    margin: 8px;
}

.lista a {
    text-decoration: none;
    list-style: none;
    color: var(--icones);
}

.lista i {
    padding: 8px;
    color: var(--icones);
}


/*CSS da main*/

main {
    position: absolute;
    left: 15vw;
    top: 4rem;
    max-width: calc(100% - 15vw);
    margin: 1rem;
}

.title-Galery {
    text-align: left;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1.25rem;
    grid-auto-rows: 9.375rem;
}

.gallery h1 {
    font-size: 25px;
    color: var(--dark);
    margin-left: 1rem;
    margin: 10px;
}

.gallery h2 {
    font-size: 15px;
    color: var(--dark);
    font-family: "Montserrat", sans-serif;
    font-weight: normal;
    font-style: normal;
    margin-left: 1rem;
}

.card {
    position: relative;
    border-radius: 0.4375rem;
    width: 100%;
    height: 100%;
    margin: 10px;
}

.card a {
    width: 100%;
    color: #FFFFFF;
    text-decoration: none;
}

.card-a {
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 0;
    border-radius: 0 0 10px 10px;
    font-size: 14px;
}

.gallery i {
    color: rgba(15, 15, 15, 0.2);
    position: absolute;
    bottom: 1rem;
    right: 1rem;
    display: flex;
    font-size: 3rem;
    margin-top: 1.4rem;
    margin-left: 1.5rem;
}

.gallery p {
    font-size: 10px;
    color: var(--title);
    text-align: center;
    padding: 3px;
    border-radius: 0 0 7px 7px;
}

.cardVermelho {
    background-color: rgba(147, 54, 68, 0.9);
}

.cardAzul {
    background-color: rgba(53, 51, 132, 0.8);
}

.cardVerde {
    background-color: rgba(10, 76, 32, 0.8);
}

.cardLaranja {
    background-color: rgba(212, 94, 12, 0.8);
}


/*CSS para os botões*/

.botoes {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    flex-wrap: wrap;
    text-align: center;
    gap: 1rem;
    margin-bottom: 2rem;
    padding-top: 2rem;
    width: 100%;
    height: 100%;
    margin: 10px;
}

.div-sombra {
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    align-items: center;
    display: flex;
}

.botoes a {
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    color: var(--dark);
    display: flex;
}

.caixaIcone {
    display: flex;
    width: 3.125rem;
    height: 3.125rem;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    background-color: var(--corFundoBotao);
    color: var(--corBotao);
}

.cardContent {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}