* {
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
}

:root {
    --dark: #0f0f0f;
    --title: #E8E4DD;
    --icones: #343A40;
    --menuLateral: #F1F0F0;
    --fundoMain: #FAF8F8;
}


/* CSS do cabeçalho */

header {
    background-color: var(--dark);
    max-height: 4rem;
    min-height: 4rem;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

.nav {
    height: 4rem;
    align-items: center;
    color: var(--title);
    display: flex;
    justify-content: space-between;
    margin: 0rem 1rem;
}

.icones {
    display: inline;
    list-style: none;
    padding: 1rem;
}

.icones i {
    color: var(--title);
}


/* CSS do menu lateral */

.menu-lateral {
    position: fixed;
    background-color: var(--menuLateral);
    min-height: 100vh;
    width: 15vw;
    top: 4rem;
}

.lista {
    gap: 1rem;
    align-items: flex-start;
    justify-content: center;
    display: flex;
    flex-direction: column;
    margin: 8px;
}

.lista a {
    text-decoration: none;
    list-style: none;
    color: var(--icones);
}

.lista i {
    padding: 8px;
    color: var(--icones);
}


/*CSS da main*/

main {
    position: absolute;
    left: 15vw;
    top: 4rem;
    max-width: calc(100% - 15vw);
    /* background-color: var(--fundoMain); */
    margin: 1rem;
}

.title-Galery {
    text-align: left;
    text-decoration: none;
    font-weight: none;
    /* margin: 1rem; */
}

.gallery {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1.25rem;
    /*Limita a altura das linha implicitas*/
    grid-auto-rows: 9.375rem;
    position: fixed;
    text-align: left;
    /* margin: 1rem; */
    height: 25vw;
    width: 82vw;
}

.gallery div {
    padding: 1rem;
    border-radius: 0.4375rem;
    /* background-color: aqua; */
    list-style: none;
}

.gallery h1 {
    font-size: 25px;
    color: var(--dark);
}

.gallery a {
    text-decoration: none;
    font-weight: none;
}

.gallery h2 {
    font-size: 15px;
    color: var(--dark);
}

.gallery i {
    color: #0f0f0f;
    position: relative;
    height: 60px;
    width: 200px;
    justify-content: flex-end;
    align-items: flex-end;
    display: flex;
    /*Esse box-shadow é para dar sombreamento ao item*/
    box-shadow: rgba(0, 0, 0, 0.1) inset;
}

.gallery p {
    font-size: 12px;
    color: var(--title);
    text-align: center;
}

.cardVermelho {
    background-color: #A45762;
}

.cardAzul {
    background-color: #353384;
}

.cardVerde {
    background-color: #326944;
}

.cardLaranja {
    background-color: #DC7934;
}


/*CSS para os botões*/

.botoes {
    position: relative;
    display: flex;
    padding-top: 21rem;
    gap: 1rem;
}